.bgimg{
 

 
  background: #d0f2cc;
    
   
}
section{
  background-color: #000000;
  color: rgb(0, 0, 0);
  opacity: 1;
    background: #e9e3e3 !important;

  
}
.color{
  background-color: #000000;
 

  color: rgb(0, 0, 0);
  background: #d0f2cc;
   
}